p {
    font-size: var(--font-body);
    font-family: var(--font-sulphur);
    color: var(--color-text);
}

img {
    height: 20em;
    width: 20em;
    /* width: 100%; */
    object-fit: cover;
    border-radius: var(--radius-md);
}