.nav {
    display: flex;
    flex-direction: row;
    padding: var(--space-2);
    color: var(--color-text);
    text-decoration: none;
    margin-left: var(--space-2);
    padding-left: 4%;
    font-size: var(--font-body);
    /* padding-right: 10%; */
}
.page {
    margin-right: var(--space-3);
    font-family: var(--font-sulphur);
} 

a:-webkit-any-link {
    color: var(--color-text)
}
