.navBg {
    background-color: var(--color-component-bg);
    font-size: var(--font-nav);
 }
.nav {
    display: flex;
    flex-direction: row;
    padding: var(--space-2);
    color: var(--color-component-text);
    text-decoration: none;
    /* padding-left: 4%; */
    font-size: var(--font-nav);
    background-color: var(--color-component-bg);
    /* padding-right: 10%; */
    align-items: center;
    justify-content: center;
}
.page {
    font-family: var(--font-sulphur);
    color: var(--color-component-text);
    font-size: var(--font-nav);
} 

a:-webkit-any-link {
    color: var(--color-component-text);
    font-family: var(--font-sulphur);
    font-size: var(--font-nav);
    margin: 3px;
}
