
.hiddenInput{
  display: none; 
  /* visibility: hidden; */
  
}

.wrapper {
  display: inline-block; /* container for the label */
  cursor: pointer;
  background-color: var(--color-component-bg);
  border-radius: var(--radius-md);
  color: var(--color-component-text);
  font-family: var(--font-sulphur);
  margin: var(--space-3);
  width: 100%;
  font-size: var(--font-body);
}

.customLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: var(--space-3);
  border-radius: var(--radius-md);
  text-align: center;
}

.customLabel:hover {
  background-color: rgba(0,0,0,0.05);
}

.icon {
  width: 100%;
  height: 100%;
  margin-bottom: var(--space-2);
}

.span {
    font-family: var(font-tilt);
}
