.text {
  background: var(--color-component-bg);
  color: var(--color-component-text);
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-md);
  height: 50px;
  /* width: 100%; */
  border: none;
  font-size: var(--font-h2);
  font-weight: bold;
  /* cursor: pointer; */
}

.file::before {
  background: var(--color-component-bg);
  color: var(--color-component-text);
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-md);
  height: 50px;
  /* width: 100%; */
  border: none;
  font-size: var(--font-h2);
  font-weight: bold;
  /* cursor: pointer; */
  content: "Upload a soup pic!";
  /* pointer-events: none;
  display: block; */
}

.file::-webkit-file-upload-button {
  visibility: hidden;
}