.textarea{
    min-height: 142px;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    padding: var(--space-2) var(--space-3);
    background-color:var(--color-component-bg);
    color: var(--color-component-text);
    border-radius: var(--radius-md);
    text-decoration: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}